{% extends 'layout.html.twig' %}

{% block content %}


  <div class="container">
    <h2> {{movie.movie_name}} </h2>
      <div id="main-movie">
        <img src="{{movie.omdb_poster}}" >
        <br>
        <div class="movie-button"><a class="btn btn-info" href="{{movie.youtube}}" role="button">Watch Trailer</a></div>
        <br>
          {% if movie.playing_now == true %}
            <div class="movie-button"><a class="btn btn-info" href="/tickets">Buy Tickets</a></div>
          {% endif %}
      </div>
        <br>
      <div class="movie-deets2">
          <h4>Plot:</h4>
          {% if "{{array['Title']}}" %}
            <p id="plot"></p>
            {% else %}
            <p>Plot information has not been released at this time.</p>
          {% endif %}
          </div>
        <div class="movie-deets1">
          <h4>Genre:</h4>
          {% if "{{array['Genre']}}" %}
            <p id="genre"></p>
            {% else %}
            <p>Genre information has not been released at this time.</p>
          {% endif %}
          </div>
        <div class="movie-deets1">
          <!-- <% unless @movie_data["Rated"] == nil || @movie_data["Rated"] == "" %> -->
          <h4>Rated:</h4>
          {% if "{{array['Rated']}}" %}
            <p id="rated"></p>
            {% else %}
            <p>Rating information has not been released at this time.</p>
          {% endif %}
          </div>
        <div class="movie-deets1">
          <!-- <% unless @movie_data["Runtime"] == nil || @movie_data["Runtime"] == "" %> -->
            <h4>Runtime:</h4>
            {% if "{{array['Runtime']}}" %}
              <p id="runtime"></p>
              {% else %}
              <p>Runtime information has not been released at this time.</p>
            {% endif %}
            </div>
          <div class="movie-deets1">
            <h4>Showtimes:</h4>
              <!-- <% @movie.viewings.each do |viewing| %> -->
              <ul>
                <li></li>
              </ul>
            </div>

        <script>


        $(document).ready(function(){


          findMovie()

        });

        function findMovie() {
            var array = [];
            var getMovieDetails = {
              type: 'get',
              url: 'http://www.omdbapi.com/?i={{movie.omdb_id}}&plot=full',
              success: function(data) {
                console.log("Pulled from API");
                array = data;
                console.log(array);
                console.log(array["Title"]);
                // console.log(data[2]);
                // var movieInfo = data;
                $("#plot").append(array["Plot"]);
                $("#genre").append(array["Genre"]);
                $("#rated").append(array["Rated"]);
                $("#runtime").append(array["Runtime"]);
              },
              error: function(error) {
                console.log("Something did not happen as intended");
              }
            }
            $.ajax(getMovieDetails);
          };

        </script>


{% endblock %}
